*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    height: 100vh;
}
.sidebar{
    flex: 1;
    background-color: #76c9d4;
    padding: 20px;
}
.sidebar ul{
    list-style: none;
}
.sidebar li{
    padding: 15px 0;
    border-bottom: 1px solid gray;
    cursor: pointer;
}
.contenido{
    flex: 8;
    background-color: #cfe2e2;
    padding: 20px;
}
.contenido h2{
    color: #4a7a7a;
}